html{
  scroll-behavior: smooth;
}
.mobileNav{
 display: none;
 }

.mobnav{
   display: none;
  }
   .mobnav a:hover .tooltip {
    opacity: 1;
    left: 35px; /* you can adjust for sliding effect */
    color:ghostwhite;
  }

@media (max-width:700px) {
 .navbar{
 display: none !important;
}
.mobnav{
       
       
        display: flex;
        flex-direction: column;
        align-items: center;
       
        position: fixed;
        /* right: 10;
        left: 0; */
        top: 5;
        right:0;
        width: 10%;
    filter: contrast(0);

}
.mobileNav{
display: flex;
flex-direction: row;
justify-content: space-between;
padding:0px 10px;
background-color:#7b7b7b52;
align-items: center;
height: 6vh;
filter: drop-shadow(2px 4px 6px ghostwhite);
}
.hero{
  
  height: 50vh !important;
  padding-bottom: 30px;
}
.aboutContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding:30px 0px;
}

}